<div id="portfolio-header">
  <div class="top-header">
    <component-button link="/home" text="Home" class="return-home"></component-button>
  </div>
  <div class="columns header-wrapper">
    <div class="columns column is-12 title-wrapper">
      <div class="column is-1"></div>
      <div class="column is-11 header-content">
        <h1 class="is-size-1 header-title">Projects</h1>
        <p class="header-description">Check out some of the projects and ideas I'm showcasing!</p>
    </div>
    </div>
  </div>
</div>
