<div class="main-text-component">
  <h1 style="font-size:2rem;">Welcome to my website!</h1>
  <p>I'm so glad you have found me! My name is Rolf and I am a CS student at the University of Waterloo.</p>
  <p>Feel free to take a look at my resume and featured projects!</p>
  <div class = "button-row">
    <component-button link="/assets/uploads/resume-tmp.pdf" text="Resume" isOutlined="true" isInverted="true"></component-button>
    <component-button link="" text="Projects" isOutlined="true" isInverted="true"></component-button>
  </div>
</div>
