@import '../../../assets/utils';

.main-text-component {
  text-align: center;
  font-size: 1rem;
  @include flex-center;
  flex-direction: column;
  color: white;

  .button-row {
    display: flex;
    margin-top: 1rem;
    > * {
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/*
p {
  margin: 0;
  padding: 0;
}

 */
