@import "font";
//@import mixin

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin uTransition($prop, $time: 0.5s) {
  transition: $prop $time ease;
}

