@import '../../assets/utils';

#component-home {
  background-image: url('../../assets/images/google-webbackground.png');
  background-size: cover;
  background-position: left top;
  height: 100vh;
  position: relative;
  @include flex-center;
  overflow: hidden;
  /* - include the other stuff here (social, logo) */
  #component-connections{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
